<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Dell保修查询主页</title>
<link rel="stylesheet" type="text/css" href="../static/view.css" media="all">

</head>
<body>
	
	<img id="top" src="../static/top.png" alt="">
	<div id="form_container">
	
		<form id="form_1150242" class="appnitro"  method="post" action="">
		<ul>
			<li><a href="/home"><h4>输入有错误，请返回主页。</h4></li>
		</ul>
		</form>	
	</div>
	
	<img id="bottom" src="../static/bottom.png" alt="">

</body>
</html>