<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Dell保修查询主页</title>
<link href="../static/view.css" rel="stylesheet" type="text/css">


</head>
<body>
	
	<img id="top" src="../static/top.png" alt="">
	<div id="form_container">
	
		<form id="job_form" class="appnitro"  method="post">
		<ul>
			<li><h2>Dell机器保修查询</h2></li>
			<li><h4>输入服务标签</h4></li>
			<li>
			<input type="text" name="svc1" class="search-field" style="width:20px;text-transform:uppercase" maxlength="1"/>
			<input type="text" name="svc2" class="search-field" style="width:20px;text-transform:uppercase" maxlength="1"/>
			<input type="text" name="svc3" class="search-field" style="width:20px;text-transform:uppercase" maxlength="1"/>
			<input type="text" name="svc4" class="search-field" style="width:20px;text-transform:uppercase" maxlength="1"/>
			<input type="text" name="svc5" class="search-field" style="width:20px;text-transform:uppercase" maxlength="1"/>
			<input type="text" name="svc6" class="search-field" style="width:20px;text-transform:uppercase" maxlength="1"/>
			<input type="text" name="svc7" class="search-field" style="width:20px;text-transform:uppercase" maxlength="1"/>
			</li>
			<li><h5>测试用文件路径（请勿改动）</h5></li>
			<li><input type="text" name="parent_path" class="search-field" value="/home/ec2-user/dell/"/></li>
			<li class="buttons"><input id="saveForm" class="button_text" type="submit" value="开始自动查询保修" class="submit" style="width:8em;height:auto"/></li>
		</ul>
		</form>	
	</div>
	
	<img id="bottom" src="../static/bottom.png" alt="">
</body>
</html>