body
{
	background:#fffff;
	font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
	font-size:small;
	margin:8px 0 16px;
	text-align:center;
}

.search-field {
	float: left;
	width: 250px;
	height: 34px;
	margin: 2px 2 2 0px;
	padding: 0 8px;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 20px;
	color: #888;
	font-weight: 400;
	background: #fff;
	border: 2px solid #ccc;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px; 
	border-radius: 8px;
	-moz-box-shadow: 0 1px 1px #e2e2e2 inset, 0 1px 0 #fff;
	-webkit-box-shadow: 0 1px 1px #e2e2e2 inset, 0 1px 0 #fff;
}

.submit {
	float: left;
	width: 60px;
	height: 32px;
	margin: 0;
	padding: 0;
	cursor: pointer;
	border: 0px solid #000;
	background: url(images/magnifier.png) 20px 6px no-repeat;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px; 
	border-radius: 6px;
}

#form_container
{
	background:#fff;
	border:1px solid #ccc;
	margin:0 auto;
	text-align:left;
	width:1300px;
}

#top
{
	display:block;
	height:10px;
	margin:10px auto 0;
	width:1310px;
}

#bottom
{
	display:block;
	height:10px;
	margin:0 auto;
	width:1310px;
}

form.appnitro
{
	margin:20px 20px 0;
	padding:0 0 40px;
}

h1
{
	background-color:#dedede;
	margin:0;
	min-height:0;
	padding:0;
	text-decoration:none;
	text-indent:-8000px;
	
}

form ul{
	font-size:100%;
	list-style-type:none;
	margin:0;
	padding:0;
	width:100%; }

form li
{
	display:block;
	margin:0;
	padding:4px 5px 2px 9px;
	position:relative;
}

form li:after
{
	clear:both;
	content:".";
	display:block;
	height:0;
	visibility:hidden;
}

.buttons
{
	clear:both;
	display:block;
	margin-top:10px;
}

.buttons input
{
	font-size:110%;
	margin-right:0px;
}